.ProjectRouter {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.Project {
  overflow: auto;
  flex: 1;
  padding: 0.5rem 1rem 1rem 1rem;
}

.open .Project {
  filter:blur(2px) hue-rotate(15deg);
}

.Project > h1 {
  padding-bottom: 1rem;
}
